.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}
.text-center {
    text-align: center!important;
}